extends layout

block content
  h1= title
  h4 by Ian Agpawa
  p Welcome to #{title}
  
  h3 Examples:
  p(id="example-natural", class="example") blah blah blah
  p(id="example-unix", class="example") blah blah
  
  h3 Example Output:
  p(id="example-output") blah blah
  
  