extends layout

block content
  h1= title
  h4 by #{author}
  p Welcome to #{title}
  
  h3 Examples:
  code(id="example-natural", class="example") localhost:8080/December 15, 2015
  p Or
  code(id="example-unix", class="example") localhost:8080/1450137600
  
  h3 Example Output:
  code(id="example-output" class="example") { "unix": 1450137600, "natural": "December 15, 2015" }
  
  p= input