extends layout

block content
  h1= title
  h4 by #{author}
  p Welcome to #{title}
  
  h3 Example Input:
  code(id="example-natural", class="example") https://timestamp-microservice-ia.herokuapp.com/October 12, 2011
  p Or
  code(id="example-unix", class="example") https://timestamp-microservice-ia.herokuapp.com/1318377600
  
  h3 Example Output:
  code(id="example-output" class="example") { "unix": 1318377600, "natural": "October 12, 2011", "dayOfTheWeek": "Wednesday"}
  